.cards-container {
    display: flex;
    border-radius: 6px;
    background: #fff;
    padding: 1rem;
    box-shadow: 4px 5px 10px 0px rgb(0 0 0 / 25%) inset;
    overflow-x: auto;
    position: relative;
}

.cards-container::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 625px) {
    .cards-container {
        padding: .5rem;
    }
}